<header class="header"> 
    <div class="container-grid cabecalho">
        <a href="index.html"><img class="logo" src="assets/img/GAME MANIA.svg" alt="Logo do site Game Mania"></a>  
          <nav id="menu" class="menu">
              <a routerLink="/login">Login</a>
              <a href="#" target="_blank">Fale Conosco</a>
              <a href="#" target="_blank">Departamentos</a>
          </nav>
          <a href="#" id="barras" onclick="mostrarMenu()"><img class="icone-menu" src="assets/img/bars-solid.svg" alt="menu barras"></a>
    </div>
</header> 