<footer class="container-rodape">
    <div class="rodape">
         <p>Game Mania® é uma marca registrada de GAME MANIA COMÉRCIO S/A | CNPJ: 00.000.000/000-00 | 
         Todos os direitos reservados. Os preços anunciados neste site ou via e-mail promocional 
         podem ser alterados sem prévio aviso. As fotos contidas nesta página são meramente 
         ilustrativas do produto e podem variar de acordo com o fornecedor/lote do fabricante. 
         Este site trabalha 100% em criptografia SSL.</p>
    </div>
</footer>