@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-grid {
    width: 1300px;
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}